<h2>
	My Hero's
</h2>

<div>
	<label>Hero Name: 
		<input #heroName /> 
			<!-- 	template reference variables provide direct access to an element from within the template. 	 -->
	</label>
	
<!-- (click) passes input value to add() and then clears the input	 -->
	<button (click)="add(heroName.value); heroName.value=''">
		Add
	</button>
</div>

<ul class='heroes' >

	<li 
		*ngFor='let hero of heroes'		
	>
		<a routerLink='/details/{{hero.id}}'>
			<span class='badge'>{{ hero.id }}</span>{{ hero.name }}
		</a>
		<button class='delete' title='delete hero' (click)="delete(hero)">
			X
		</button>
	</li>
</ul>

<!-- <div *ngIf='hero'>
split out to seperate component
	<div>
		<span>{{ hero.name | uppercase }}</span> is my hero
	</div>
	
	<button
		(click)='redirectToDetails()';
		class='placeholder'
	>
		View Details		
	</button> 
	
</div>-->

<!-- <app-hero-detail [hero]='selectedHero'></app-hero-detail> -->
<!-- <app-messages></app-messages> -->
